/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 0.5em;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

section {
  margin: 20px;
}

h1, h2 {
  color: #4CAF50;
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  nav {
      flex-direction: column;
      align-items: center;
  }
}
